@import "tailwindcss";

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-sans: "Ubuntu", "Inter", "sans-serif";
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  a {
    @apply text-red-400 hover:text-red-600 transition-colors duration-300;
  }

  blockquote {
    @apply border-l-4 border-gray-300 dark:border-gray-400 pl-4 my-4 italic text-gray-700 dark:text-gray-400;
  }
}

@layer components {
  .app-table {
    @apply table-fixed bg-red-100 dark:bg-red-950 border-red-400 border-2;
  }

  .app-table-head {
    @apply text-sm text-red-900 dark:text-red-200 uppercase;
  }

  .app-border-t {
    @apply border-t-2 border-red-100 dark:border-red-800 mb-4;
  }

  .app-border-v {
    @apply border-1 border-red-100 dark:border-red-800;
  }

  .button-like {
    @apply block p-4 text-center bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-300 dark:hover:bg-gray-800;
  }

  .button-like-sm {
    @apply block p-2 text-center bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-300 dark:hover:bg-gray-800;
  }
}
