---
import Layout from "../layouts/Layout.astro";
import SeasonSelector from "../components/SeasonSelector.astro";
---

<Layout>
  <main class="mt-4 md:max-w-1/2 md:p-0 p-2">
    <p>
      With F1 Rewatch Buddy you can track your progress while re-watching
      previous F1 seasons, as well as get context information of qualifying
      results before starting to watch a race and the driver standings before
      and after a race.
    </p>
    <br />
    <p>Happy re-watching!</p>

    <blockquote>
      Currently supported seasons: 2000 to 2023 and partially 2024.
    </blockquote>

    <div class="border-t-2 border-red-100 mb-4"></div>

    <SeasonSelector />
  </main>
</Layout>
