---
import Layout from "../layouts/Layout.astro";
import SeasonSelector from "../components/SeasonSelector.astro";
---

<Layout>
  <p class="text-center bg-amber-600 p-4 my-4 md:hidden">
    Hey! Seems like you're using a phone. Currently the page is mostly
    desktop-friendly, so not all features might look nice in your device.
  </p>

  <p>
    With F1 Rewatch Buddy you can track your progress while re-watching previous
    F1 seasons, as well as get context information of qualifying results before
    starting to watch a race and the driver standings before and after a race.
  </p>
  <br />
  <p>Happy re-watching!</p>

  <blockquote>
    Currently supported seasons: 2000 to 2023 and partially 2024.
  </blockquote>

  <div class="app-border-t mb-4"></div>

  <SeasonSelector />
</Layout>
