<footer class="w-1/2 border-t-2 border-red-100 my-4 pt-4 flex justify-center">
  <p>
    Made by <a target="_blank" href="https://sleepyfran.me">@sleepyfran</a>
  </p>
  <div class="border-1 border-red-100 mx-2"></div>
  <a target="_blank" href="https://github.com/sleepyfran/f1-rewatch-buddy"
    >Source code</a
  >
</footer>
