<footer
  class="w-1/2 border-t-2 border-red-100 mt-4 pt-4 flex flex-col items-center"
>
  <p>
    Made by <a href="https://sleepyfran.me">@sleepyfran</a> out of necessity!
  </p>
  <a href="https://github.com/sleepyfran/f1-rewatch-buddy">Source code</a>
</footer>
