<footer class="w-full md:w-1/2 app-border-t my-4 pt-4 flex justify-center">
  <p>
    Made by <a target="_blank" href="https://sleepyfran.me">@sleepyfran</a>
  </p>
  <div class="app-border-v mx-2"></div>
  <a target="_blank" href="https://github.com/sleepyfran/f1-rewatch-buddy"
    >Source code</a
  >
</footer>
