---
import { getCollection } from "astro:content";

const seasons = await getCollection("seasons");
---

<div>
  <h2 class="my-4">Seasons</h2>

  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-3">
    {
      seasons.map(({ data: { id } }) => (
        <a href={`/seasons/${id}`} class="button-like">
          {id}
        </a>
      ))
    }
  </div>
</div>
