---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TitleWithNavigation from "../../components/TitleWithNavigation.astro";
import RaceSelector from "../../components/RaceSelector.astro";

export async function getStaticPaths() {
  const seasons = await getCollection("seasons");
  return seasons.map(({ id }) => ({
    params: { season: id },
  }));
}

const { season: seasonStr } = Astro.params;

const season = parseInt(seasonStr);

const allSeasons = await getCollection("seasons");
const previousSeason = allSeasons.find(({ data: { id } }) => id === season - 1);
const nextSeason = allSeasons.find(({ data: { id } }) => id === season + 1);
---

<Layout>
  <div class="w-full flex flex-col items-center">
    <TitleWithNavigation
      previous={previousSeason
        ? `/seasons/${previousSeason.data.id}`
        : undefined}
      next={nextSeason ? `/seasons/${nextSeason.data.id}` : undefined}
      title={`${season} season`}
    />

    <RaceSelector season={season} />
  </div>
</Layout>
